{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    
<h1>Change Your Password</h1>

<form class="centerForm" id="reset" method="post" onsubmit="return true;" action="">
    {% csrf_token %}
    <input type="text" name="oldPassword" placeholder="Enter Old Password"><br/>
    <input type="text" name="newPassword" placeholder="Enter New Password"><br/>
    <input type="text" name="retypedPassword" placeholder="Re-enter New Password"><br/>
    <input type="submit" name="reset" value="Reset">
    <div class='ErrorMessage'>{{ invalidPassword }}</div>
</form>
<br/>

<!--
<form class="centerForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
-->
{% endblock %}