{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <h1>Account Information</h1>

    <div id="content">

        <h2>Account Information</h2>

        <div class="section">
            <p>
                <!--TODO: fetch username-->
            </p>

            <p>
                Change Password: <br />
            </p>
            <form class="centerForm" method="link" action="{% url 'reset' %}">
                {% csrf_token %}
                <input type="submit" value="Change Password">
            </form>

            <p>
                <!--TODO: fetch email-->
            </p>
            <p>
                Change Email: <br />
            </p>

            <form class="centerForm" method="link" action="">
                {% csrf_token %}
                <input type="submit" value="Change Email">
            </form>
        </div>

        <h2>Destroy Account</h2>

        <div class="section">
            <p>
                If you would like to permanently delete your account, enter your password and click "Accept". Once an account has been
                deleted, it can not be recovered.
            </p>

            <form class="centerForm" id="delete_account" method="post" onsubmit="return true;" action="">
                {% csrf_token %}
                <input name="password" type="password" placeholder="Password"><br>
                <input type="submit" value="Accept">
            </form>
        </div>
    </div>
{% endblock %}
