{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accountPage.css' %}" />
{% endblock %}

    <div id="content">
        {% if pwReset == 1 %}
            <div class="pwChangeNote" style="display: block;">
        {% else %}
            <div class="pwChangeNote" style="display: none;">
        {% endif %}
            You have changed your password.
        </div>
        <h2>Account Details</h2>

        <div class="section">
            <p>
                Username: {{ userName }}
            </p>
            <br/>
            <p>
                Name: {{ name }}
            </p>
            <br/>
            <p>
                Email: {{ email }}
            </p>
            <br/>
            <p>
                Date Joined: {{ joined }}
            </p>
            <br/>
            <p>
                Last Login: {{ lastLogin }}
            </p>
            <br/>

            <form class="centerForm" action="{% url 'reset' %}">
                {% csrf_token %}
                <input type="submit" value="Change Password">
            </form>

            <!--
            <p>
                Change Email: <br />
            </p>

            <form class="centerForm" method="link" action="">
                {% csrf_token %}
                <input type="submit" value="Change Email">
            </form>
            -->
        </div>

        <!--
        <h2>Destroy Account</h2>

        <div class="section">
            <p>
                If you would like to permanently delete your account, enter your password and click "Accept". Once an account has been
                deleted, it can not be recovered.
            </p>

            <form class="centerForm" id="delete_account" method="post" onsubmit="return true;" action="">
                {% csrf_token %}
                <input name="password" type="password" placeholder="Password"><br>
                <input type="submit" value="Accept">
            </form>
        </div>
        -->
    </div>
{% endblock %}
