{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'css/edit_deck_page.css' %}" />
{% endblock %}
{% block javascript %}
        {{ block.super }}
        <script src="{% static 'js/edit_deck_page.js' %}" ></script>
{% endblock %}
{% block content %}
<form action="{% url 'deck_changes' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="deckId" value="{{ deck.id }}">
    <div id="editContainer">
        <div class="contentBox" id="detailsContainer">
            <div id="deckDetails">
                <div class="deckLabel">Deck Name:</div>
                <input id="deckName" type="text" name="deckName" value="{{ deck.Name }}"><br>
                <div class="deckLabel">Deck Tags:</div>
                <input id="deckTags" type="text" name="deckTags" value="{{ deck.Tags }}"><br>
            </div>
            Card Theme:
            <div id="themeContainer">
                {% for theme in themes %}
                  <img class="themePreview {% if deck.Theme = theme.1 %}themeSelected{% endif %}" src="{% static 'themes/' %}{{ theme.1 }}" data-theme="{{ theme.1 }}" >
                {% endfor %}
                <input id="themeField" type="hidden" name="deckTheme" value="{{ deck.Theme }}">
            </div>

            <!--action="{% url 'deck_changes' %}"-->
            {% comment %}<div id="addImages" class="button">Insert Image on Card</div>{% endcomment %}
        </div>
        <div class="contentBox">
            <div id="previewContainer">
                <div id="previewScrollLeft"></div>
                <div id="previewScrollRight"></div>
                <div id="previewBlocker"></div>
                <div id="cardsContainer">
                    {% for card in cards %}
                        <div class="cardMiniPreview {% if forloop.first %}cardSelected{% endif %}" style="background-image: url('{% static 'themes/' %}{{ deck.get_Theme_display }}')" data-cardId="{{ card.id }}">
                            <label>{{ card.Front_Text }}</label>
                            <img class="hidden" src="">
                            <input  id="frontText-{{ card.id }}" type="hidden" name="front-{{ card.id }}" value="{{ card.Front_Text }}">
                            <input  id="frontImg-{{ card.id }}" type="hidden" name="front-img-{{ card.id }}" value="{% if card.Front_Img_ID %}/media/{{ card.Front_Img_ID }}{% endif %}">
                            <input  id="backText-{{ card.id }}" type="hidden" name="back-{{ card.id }}" value="{{ card.Back_Text }}">
                            <input  id="backImg-{{ card.id }}" type="hidden" name="back-img-{{ card.id }}" value="{% if card.Back_Img_ID %}/media/{{ card.Back_Img_ID }}{% endif %}">
                        </div>
                    {% endfor %}
                </div>
                <div id="addCard">+</div>
                <div id="removeCard">-</div>
                <input id="cardIdList" type="hidden" name="cardIdList" value="">
            </div>
            <div id="cardPreview" data-cardId style="background-image: url('{% static 'themes/' %}{{ deck.get_Theme_display }}')">
                <img id="cardImageContent" class="hidden" src="">
                <textarea id="cardTextContent" rows="4" cols="30"></textarea><br>
            </div>
            <div id="uploadImages" class="button">Select an Image</div>
            <div id="cardSideSelector">
                <input class="cardSideRadio" id="cardFront" type="radio" name="cardEditSide" value="front" checked><label for="cardFront">Front</label>
                <input class="cardSideRadio" id="cardBack" type="radio" name="cardEditSide" value="back"><label for="cardBack">Back</label>
            </div>
        </div>
    </div>
    <input type="submit" id="submitDeckChanges" class="button" value="Save Changes">
</form>
<div id="overlay"></div>
<form id="imageForm" action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data" target='upload-target'>
    {% csrf_token %}
    <div id="imageDrawer">
        <img src="{% static 'img/upload_0.png' %}" alt="Upload">
        <div>Upload an Image</div>
        <input id="uploadImagesButton" type="file" name="uploadImage" accept=".png,.jpg,.jpeg,.bmp,.gif">
        <br>
        <div id="imgPreviewContainer">
            <img id="uploadedImage" alt="User Image">
        </div>
        <input id="cancelUpload" class="button" type="reset" value="Cancel">
        <input id="submitUpload" class="button disabled" type="submit" value="Upload">
    </div>
    <iframe id='upload-target' name='upload-target' src='' class='hidden'></iframe>
</form>
<div id="selectImageDrawer">
    <table id="imageTable">
        <!-- available images here -->
    </table>
</div>
{% endblock %}
