{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/import_page.css' %}" />
{% endblock %}

{% block content %}
    <h1>Import / Export Decks</h1>

    <div id="content">

        <h2>Import Deck</h2>

        <div class="section">
            <p>
                If you would like to import a Deck file, please select it and click import.
            </p>
        </div>

        <form class="centerForm" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="custom-file-input" name="deck" id="file"><br>
            <input type="submit" class="submitBtn" name="submit" value="Import">
        </form>
        

        <h2>Export Deck</h2>

        <div class="section">
            <p>
                If you would like to export a deck into a text file, select it and click Export. 
            </p>
        </div>

        <div class="radioList">
            <form class="centerForm" action="" method="post">
                {% csrf_token %}

                <table>
                    {% for deck in user_decks %}
                    <tr>
                        <td class="radio">
                            <input type="radio" name="deck" id="deck{{deck.id}}" value="{{deck.id}}" />
                        </td>
                        <td class="description">
                            <label for="deck{{ deck.id }}">{{ deck.Name }}</label>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <input type="submit" class="submitBtn" value="Export" />
            </form>
        </div>    
        

    </div>
{% endblock %}
