{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}" />

<h1>Welcome to MemorizeMe!</h1>
<h2> News / About </h2>

<p class = "landing">
The following results may be database retrieval calls: <br><br>
Last deck viewed: {{ last_deck_viewed }} <br>
Last time visited:{{ last_visited }} <br>
Number of times you viewed last deck: {{ views_for_deck }} <br><br>
</p>

<h3> How - To </h3>
<p class = "landing">
This is filler. I have no idea what to put here. I will put an image here just to see how it will look. <br> 
</p>
<img src="{% static "img/memorizeMe.png" %}" alt="My image" />


<div id="images">
    <img id="image1" src="static/img/1.jpg" />
    <img id="image2" src="static/img/2.jpg" />
    <img id="image3" src="static/img/3.jpg" />
    <img id="image4" src="static/img/4.jpg" />
    <img id="image5" src="static/img/5.jpg" />
    <img id="image6" src="static/img/6.jpg" />
    <img id="image7" src="static/img/7.jpg" />
    <img id="image8" src="static/img/8.jpg" />
    <img id="image9" src="static/img/9.jpg" />
</div>
<div id="slider">
    <a href="#image1">1</a>
    <a href="#image2">2</a>
    <a href="#image3">3</a>
    <a href="#image4">4</a>
    <a href="#image5">5</a>
    <a href="#image6">6</a>
    <a href="#image7">7</a>
    <a href="#image8">8</a>
    <a href="#image9">9</a>
</div>


{% endblock %}
