{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mydecks.css' %}" />
<script type="text/javascript">
    window.onload = function() {
            $(".deckItem").click( drawerSlide      );
            $(".deckItem").click( setDrawerDeckId  );
            $(".deckItem").click( updateDeckDrawer );
            
            $("#closeButton").hover(closeHover, closeDefault);
        };
    
    var drawerVis = false;
    var currentDeck = -1;
    var Decks = [];
    var i = 0
    {% for deck in user_decks %}
        var deck = {
        id:{{ deck.id }},
        pos: i,
        name: "{{ deck.Name }}",
        desc: "Deck description here.",
        lastAcc: "{{ deck.Accessed_Date }}",
        count: {{ GetCardsForDeck|length }},
        auth: "Me"
        };
        Decks.push(deck);
        i += 1;
    {% endfor %}
    
    function drawerSlide() {
        if(!drawerVis) {
            $("#deckDrawer").slideDown();
            drawerVis = true;
        }
    }
    function closeDrawer() {
        $("#deckDrawer").slideUp();
        drawerVis = false;
    }
    
    function setDrawerDeckId() {
        /** 
        Gets the id of the clicked deck
        and strips everything but the number,
        then assigns that to currentDeck.
        */
        
        fullId = $(this).prop('id');
        sepPos = fullId.indexOf('_');
        currentDeck = fullId.substring(sepPos+1);
    }
    
    function updateDeckDrawer() {
        /**
        When a deck is clicked, update
        the deck drawer to reflect the
        info specific to the deck in
        question.
        */
        titleBar = $("#dTitle");
        desc = $("#Desc");
        count = $("#cardCount");
        acc = $("#access");
        auth = $("#author");
        
        titleBar.html( Decks[currentDeck].name );
        desc.html( Decks[currentDeck].desc );
        count.html( Decks[currentDeck].count );
        acc.html( Decks[currentDeck].lastAcc );
        auth.html( Decks[currentDeck].auth );
    }
    
    function closeHover() {
        $("#closeButton").attr("src","{% static 'img/close_inv.png' %}");
    }
    
    function closeDefault() {
        $("#closeButton").attr("src","{% static 'img/close.png' %}");
    }
</script>

    <h1>Manage Decks</h1>
    <div id="content">
        <h2>Your Decks, Your Way</h2>
        <div class="section">
            <p>
                Below you'll find all the decks you have.
            </p>
            <p>
                Use
                <img class="inline" src="{% static 'img/delete1_drk_64.png' %}" alt="Delete" title="Permanently delete!"/>
                to delete a deck!<br>
                The deck will be <em>permanently</em> destroyed, so be sure you really want to do that before clicking.<br>
                <br>
                Use
                <img class="inline" src="{% static 'img/reset_inv_64.png' %}" alt="Reset" title="Reset your progress"/>
                to reset your progress!<br>
                We'll <em>permanently</em> trash any notes about how well you've done on that deck, so be sure you really want to do that before clicking.<br>
                <br>
                Use
                <img class="inline" src="{% static 'img/edit1_inv_64.png' %}" alt="Edit" title="Edit"/>
                to edit the deck!<br>
                Found a typo? Need more cards? Hate one card in particular? Edit button.
            </p>
        </div>
        <div id="deckDrawer">
            <a onclick="closeDrawer()">
                <img id="closeButton" class="icon" src="{% static 'img/close.png' %}" alt="Close" title="Close"/>
            </a>
            <h2 id="dTitle">Missing No.</h2>
            <hr/>
            <div id="imgContainer">
                <img id="dImg" class="cards" src="{% static 'img/cardstack0.png' %}" alt="Cards"/>
            </div>
            <div id="dInfo">
                Description: <em><span id="desc">Deck description...</span></em><br>
                Card count: <span id="cardCount"></span><br>
                Last access: <span id="access"></span><br>
                Created by: <span id="author">Me (id: {{ request.user.id }})</span><br>
            </div>
        </div>
        <div id="deckPane">
        {% for deck in user_decks %}
        <!-- decks currently fetched in a dictionary -->
            <div class="deckItem" id="deckItem_{{ deck.id }}">
                <span class="deckName" id="deckName">{{ deck.Name }}</span>
                <span class="deckActions">
                    <a href="{% url 'manage_decks' deck.id %}">
                        <img class="icon" src="{% static 'img/edit1_inv_64.png' %}" alt="Edit" title="Edit"/>
                    </a>
                    <a href="{% url 'reset_deck' deck.id %}">
                        <img class="icon" src="{% static 'img/reset_inv_64.png' %}" alt="Reset" title="Reset your progress"/>
                    </a>
                    <a href="{% url 'delete_deck' deck.id %}">
                        <img class="icon" src="{% static 'img/delete1_drk_64.png' %}" alt="Delete" title="Permanently delete!"/>
                    </a>
                <span>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
