{% extends "base.html" %}
{% load static from staticfiles %}

{% block javascript %}
    {{block.super}}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static 'js/scores.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
{% endblock %}

{% block css %}
    {{block.super}}
        <link rel="stylesheet" type="text/css" href="/static/css/scores.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/switch.css" />
        
        <script type="text/javascript">
            var cardRanks = [
                {% for card in cards %}
                    {{card.id_Difficulty}},
                {% endfor %}
            ];
        </script>
{% endblock %}

{% block content %}
    <h1>My Scores</h1>
    
    <div id="content">
        {% include "switch_button.html" %}
        {% if deckId %}
            <h2>Deck Name</h2>
            <div class="section">
                <p>
                    <div id="piechart"></div>
                    <div id="count">21</div> Total Cards
                    
                </p>
            </div>
        {% else %}
            <h2>Your Decks at a Glance</h2>
            <div class="section">
                <p>
                    {% for deck in user_decks %}
                        <div id="deckName">{{deck.Name}}:</div>
                        <br /> <br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
