{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
{% block css %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'css/view_deck.css' %}" />
{% endblock %}
	<form name="myform" onsubmit="return true;" action="" method="POST">
	{% csrf_token %}
	<div align="center">
	<select name="mydropdown" onchange='this.form.submit()'>
	<option>{{ current }}</option>
	<option value="{{ next }}">{{ next }}</option>
	</select>
		<noscript><input type="submit" value="Submit"/></noscript>
	</div>
	</form>
    <h1>Deck {{ deckName }}</h1>
    <br/>
	
	{% for card in cards %}
		<div class="containerDiv">
		<div class="outer">
			<div class="bottomleft">
			{% ifequal current "Front" %}
			<p>{{ card.Front_Text }}</p>
			{% endifequal %}
			{% ifequal current "Back" %}
			<p>{{ card.Back_Text }}</p>
			{% endifequal %}
			</div>
		</div>
		</div>
    {% endfor %}

{% endblock %}