{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mydecks.css' %}" />
    <h1>My Decks</h1>
	<div id="content">
		<h2>Take a Look</h2>
		<div class="section">
			<p>
				Below you'll find all the decks you've subscribed to.
			</p>
			<p>
				Use 
				<img class="inline" src="{% static 'img/play_64.png' %}" alt="Manage" title="Play Deck"/> 
				to start playing!.<br>
				You'll be taken to the full MemorizeMe app to start or resume that deck.<br>
				<br>
				Use 
				<img class="inline" src="{% static 'img/badge_64.png' %}" alt="Score" title="See Scores"/> 
				to see your scores!.<br>
				You'll be taken to the My Scores page to see how you're doing on that deck.<br>
				<br>
				Use 
				<img class="inline" src="{% static 'img/details_64.png' %}" alt="Manage" title="Manage Deck"/> 
				to manage that deck!<br>
				You'll be taken to the Manage Decks page where you can do things 
				like unsubscribe from the deck or edit it.
			</p>
		</div>
		
		<div id="deckpane">
		
			<div class="deckItem">
				<span class="deckName">How to Use MemorizeMe</span>
				<span class="deckActions">
					<a href="#">
						<img class="icon" src="{% static 'img/details_64.png' %}" alt="Manage" title="Manage Deck"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/badge_64.png' %}" alt="Score" title="See Scores"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/play_64.png' %}" alt="Play" title="Play Deck"/>
					</a>
				<span>
			</div>
			
			<div class="deckItem">
				<span class="deckName">I'm a Deck!</span>
				<span class="deckActions">
					<a href="#">
						<img class="icon" src="{% static 'img/details_64.png' %}" alt="Manage" title="Manage Deck"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/badge_64.png' %}" alt="Score" title="See Scores"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/play_64.png' %}" alt="Play" title="Play Deck"/>
					</a>
				<span>
			</div>
			
			<div class="deckItem">
				<span class="deckName">Swahili for Beginners</span>
				<span class="deckActions">
					<a href="#">
						<img class="icon" src="{% static 'img/details_64.png' %}" alt="Manage" title="Manage Deck"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/badge_64.png' %}" alt="Score" title="See Scores"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/play_64.png' %}" alt="Play" title="Play Deck"/>
					</a>
				<span>
			</div>
			
			<div class="deckItem">
				<span class="deckName">Swahili as a Second Language</span>
				<span class="deckActions">
					<a href="#">
						<img class="icon" src="{% static 'img/details_64.png' %}" alt="Manage" title="Manage Deck"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/badge_64.png' %}" alt="Score" title="See Scores"/>
					</a>
					<a href="#">
						<img class="icon" src="{% static 'img/play_64.png' %}" alt="Play" title="Play Deck"/>
					</a>
				<span>
			</div>
			
		</div>
	</div>
{% endblock %}
