{% extends "base.html" %}
{% load static from staticfiles %}

{% block javascript %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/welcome_page.js' %}"></script>
{% endblock %}

{% block css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome_page.css' %}" />
{% endblock %}

{% block content %}
    <h1>Welcome, please <a class="greeting" href="{% url 'signin' %}"> Login</a> or <a class= "greeting" href="{% url 'signin' %}"> Signup!</a> </h1>

    
<div id="carousel">
    <div class="slide">
        <div class="image">
            <img src="{% static 'img/home0.jpg' %}" alt="My image" />
        </div>
        <div class="image">
            <img src="{% static 'img/home1.jpg' %}" alt="My image" />
        </div>
        <!--<div class="image">
            <img src="{% static 'img/home2.jpg' %}" alt="My image" />
        </div>-->
    </div>
</div>

<div id="buttons" >
    <a class="button active" rel="1"></a>
    <a class="button" rel="2"></a>
    <!--<a class="button" rel="3"></a>-->
</div>
<div class="clear"></div>


    <p>
        Welcome to MemorizeMe!<br><br>
        This service provides users with an online flash card memorization system that be virtually
        access anywhere! With being able to create a deck in your favorite text editor, it's
        easy to not only create and upload your own decks but also trade them with friends who can
        then upload them, modify them and start memorizing today!
    </p>
{% endblock %}
