fieldset {
    width: 300px;
    border: none;
}

label.name {
    text-align: right;
    width: 100px;
    floath: right;
    font-weight: bold;
}

input.textbox {
    width: 200px;
    float: right;
}

input.textbox2 {
    foat: left;
}

fieldset p {
    clear: both;
    padding: 0;
}

textarea {
    resize: none;
}