table{
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    line-height: 0px;
}

table td+td{
    padding-left: 20px;
}

#carousel {
    width:100%;
    overflow:hidden;
    position: relative;
    height:300px;
}

#carousel .slide {
    width:6345px;  /*9(images) x 705(width)*/
    position: absolute;
    height: 100%;
    display: inline-block;
}

#carousel .image {
    display: inline-block;
    font-size:15px;
    width: 805px;
    color:#b0b0b0;
    text-align: center;
    height: auto;
}

#carousel .image img {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.button   {
    background:#999;
    padding:6px;
    display: inline-block;
    margin-right:5px;
}

#buttons {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

.active {
    background:#111;
    padding:6px;
    display:inline-block;
    outline:none;
}
.clear { clear: both; }

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 75%;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#containerDiv	{
	min-width:400px;
	max-width:800px;
}
/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 15%;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
