div#content {
	margin-left: auto;
	margin-right:auto;
	max-width: 1200px;
	min-width: 800px;
}

div#deckpane {
	background: #888;
	border: white solid 4px;
	border-radius: 24px;
	box-shadow: 0px 2px 2px 2px #333 inset;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	width: 60%;
}

div.deckItem {
	border-radius: 8px;
	height: 28px;
	padding-top: 12px;
}

div.deckItem:hover {
	background: #CCC;
	box-shadow: 0px 2px 2px 2px #333 inset;
	color: black;
}

img.icon {
	height: 16px;
	float:right;
	margin-right: 8px;
	vertical-align: middle;
	width: 16px;
}

img.icon:hover {
	cursor: pointer;
}

span.deckActions {
	text-align: right;
}

span.deckName {
	font-weight: bold;
	min-width: 60%;
	padding: 6px;
}

.section {
    border-left: solid;
    border-top: solid;
    border-width: 2px;
	margin-bottom: 2em;
    padding: 10px;
}