div#deckPane,div#deckDrawer {
	background: #888;
	border: white solid 4px;
	box-shadow: 0px 2px 2px 2px #333 inset;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	width: 60%;
}

div#deckDrawer {
    display: none;
}

div.deckItem {
	border-radius: 8px;
    cursor: pointer;
	height: 28px;
	overflow: auto;
	padding-top: 12px;
}

div.deckItem:hover {
	background: #CCC;
	box-shadow: 0px 2px 2px 2px #333 inset;
	color: black;
}

div#deckDrawer {
    border-bottom: none;
    height: 188px;
}

div#imgContainer {
    float: left;
    height: 128px;
    width: 128px;
}

h2#dTitle {
    color: black;
    text-decoration: none;
}

/* img#dImg {
    float: left;
} */

div#dInfo {
    clear: left;
    display: inline;
} 

img#closeButton{
	height: 24px;
    position: relative;
    top: 12px;
	width: 24px;
}

img.icon {
	height: 16px;
	float:right;
	margin-right: 8px;
	vertical-align: middle;
	width: 16px;
}

img.cards {
	margin-right: 8px;
	vertical-align: middle;
	width: 128px;
}

img.inline {
	background: #CCC;
	height: 16px;
	padding: 2px;
	vertical-align: top;
	width: 16px;
}

img.icon:hover {
	cursor: pointer;
}

span.deckActions {
	text-align: right;
}

span.deckName {
	font-weight: bold;
	padding: 6px;
}