.card {
    position: relative; 
    color: #666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

h1.title{
    top: -5px;
    position: absolute; 
    left: 0; 
    width: auto;
    font-size: 30px;
    text-align: center;
}

p.question {
    top: 35px;
    position: absolute; 
    left: 0;
    line-height: 140%;
}

img.cardImage{
    position: absolute;
    bottom: 0;
}

a.btnLeft{
    width: 100px;
    float: left;
}

a.btnRight{
    width: 100px;
    float: right;
}

#uiCard {
    background-image: url('../img/card.png');
    background-repeat:no-repeat;
    box-shadow: 0px 2px 2px black;
    clear: right;
    color: black;
    cursor: pointer;
    height: 300px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    overflow: hidden;
}

#uiCard:hover {
    box-shadow: 0px 0px 8px 4px white;
}

.uiQuestion {
    font-size: 300%;
    top: 0px;
    margin-left: 32px;
    width: 80%;
    text-align: center;
    margin-top:46px;
    margin-left:10%;
    margin-right:10%;
    white-space:pre-wrap;
    line-height: 51px;
    height: 230px;
}

#deckTitle {
    color: #62CBFF;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

#playField {
    min-width: 540px;
    overflow: hidden; 
    padding-left: 8px;
    padding-right: 8px;
}

#playField h5 {
    margin: 0px;
    margin-top: 8px;
    text-align: center;
}

#playField > div{
    background: #888;
    border: white solid 4px;
    box-shadow: 0px 2px 2px 2px #333 inset;
    margin-bottom: 8px;
}

div #playFrame {
    background: #888;
    border: white solid 4px;
    box-shadow: 0px 2px 2px 2px #333 inset;
    margin-bottom: 8px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    background-image: url('../img/radio_card.png');
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

input[type="radio"]:checked + span {
    background: url('../img/radio_card_s.png');
    background-size: 24px 24px;
}

#buttonPanel {
    list-style: none;
    margin: auto;
    margin-bottom: 16px;
    max-width: 500px;
    padding: 0px;
    text-align: center;
}

ul#buttonPanel li, #uiSkip {
    max-height: 27px;
    overflow: hidden;
}

.uiButton {
    background: #222;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: white;
    box-shadow: 0px 2px 2px #222;
    color: white;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 480px;
}

.uiButton:hover {
    background: #555;
    color: white;
    box-shadow: 0px 2px 3px #222 inset;
    cursor: pointer;
}

.uiButton-resize {
    width: 76px;
}

.uiButtonDisabled, .uiButtonDisabled:hover {
    background: #DDD;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #666;
    box-shadow: 0px 2px 3px #222 inset;
    color: #666;
    cursor: default;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 10px;
    text-align: center;
    width: 76px;
}

#ui5.uiButton {
    background: red;
    color: black;
}
#ui5.uiButton:hover { 
    background: #FC9B9B;
}

#ui4.uiButton {
    background: orange;
    color: black;
}
#ui4.uiButton:hover {
    background: #FCC79B;
}

#ui3.uiButton {
    background: yellow;
    color: black;
}
#ui3.uiButton:hover {
    background: #FCFA9B;
}

#ui2.uiButton {
    background: #45FF45;
    color: black;
}
#ui2.uiButton:hover {
    background: #A8FFA8;
}

#ui1.uiButton {
    background: #00F2FF;
    color: black;
}
#ui1.uiButton:hover {
    background: #B3FBFF;
}

#uiBtnIcon1, #uiBtnIcon2, #uiBtnIcon3, #uiBtnIcon4, #uiBtnIcon5, #uiBtnIconSkip {
    display: none;
}

.uiButtonIcon {
    margin-top: 3px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.drawerTitle {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}

.helpKey {
    font-weight: bold;
}

#helpList {
    margin-top: 8px;
    list-style: none;
}

#helpList img {
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

#uiSettingsButton {
    background-image: url('../img/settings.png');
    background-size: 24px 24px;
    cursor: pointer;
    float: right;
    height: 24px;
    margin: 8px;
    position: relative;
    width: 24px;
}

#uiSettingsButton:hover {
    background-image: url('../img/settings_inv.png');
}

#uiSettingsButton.settingsOpen {
    background-image: url('../img/settings_inv.png');
}

#uiSettingsDrawer {
    background: #CCC;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: white;
    color: black;
    display: none;
    margin: 0px;
    padding: 16px;
}

#uiSettingsDrawer form {
    text-align: left;
}

label {
    cursor: pointer;
    margin-right: 1em;
}

#uiSettingsDrawer form input[type="radio"]{
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

#cardOrder {
    font-weight: bold;
}

#uiHelpButton {
    background-image: url('../img/help.png');
    background-size: 24px 24px;
    cursor: pointer;
    float: right;
    height: 24px;
    margin: 8px;
    position: relative;
    bottom: 22px;
    width: 24px;
}

#uiHelpButton:hover {
    background-image: url('../img/help_hover.png');
}

#uiHelpButton.helpOpen {
    background-image: url('../img/help_inv.png');
}

#uiHelpDrawer {
    background: #CCC;
    border-top-style: solid;
    border-top-width: medium;
    border-top-color: white;
    clear: right;
    color: black;
    display: none;
    height: 225px;
    margin: 0px;
    max-height: 225px;
    overflow: auto;
    padding: 16px;
}

.helpTitle {
    color: #4DA0C9;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1em;
    text-decoration: underline;
}

.helpTitle:hover {
    color: white;
}

.helpSection {
    display: none;
    margin-bottom: 1em;
}

.hide {
    display: none;
}