div#count {
  font-size:  24pt;
  text-align: left;
  font-weight: bold;
  padding-left: 75px;
  display: inline;
}

div#deckName {
  font-size: 18pt;
  font-weight: bold;
  text-decoration: underline;
}