div#count {
  font-size:  24pt;
  text-align: left;
  font-weight: bold;
  padding-left: 75px;
  display: inline;
}

div#deckName {
  font-size: 16pt;
  text-decoration: underline;
}

div#stats {
    text-align: center;
    
 }

h5 {
    font-size: 24pt;
    font-weight: bold;
    color: white;
    display: inline;
    
}

pre {
    display: inline;
    font-family: Microsoft Sans Serif, sans serif;
}