p{
    width: 70%;
    margin-left: auto;
    margin-right : auto;
}

a{
    color: inherit;
}

a.greeting:hover{
    color: #666;
}

a.top{
    text-decoration: none;
}

a.show{
    display: none;
}

#carousel {
    width:100%;
    overflow:hidden;
    position: relative;
    height:10000px;
}

#carousel .slide {
    width:auto;
    position: absolute;
    height: auto;
    display: inline-block;
}

.button   {
    background:#999;
    padding:6px;
    display: inline-block;
    margin-right:5px;
}

#buttons {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

.active {
    background:#111;
    padding:6px;
    display:inline-block;
    outline:none;
}
.clear { clear: both; }
